/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

logo-img {
  width: 202.75px;
  height: 82.45px;
}
.rounded-card {
  border-radius: 10px !important;
}

.search-bar {
  width: 80% !important;
  background-color: #f0f0f1;
  border-width: 0px;
  height: 49px;
  font-size: 10px;
  padding-right: 40px;
  border-radius: 10px;
  display: block;
}

.search-bar::placeholder {
  color: #a9a6a8;
  font-size: 10px;
  font-family: IRANYekan;
}

input::placeholder {
  color: red;
}

/* icons */

.icon {
  width: 21.81px;
  height: 20.67px;
}

.icon-play {
  background-image: url(../images/user.svg);
  background-size: cover;
}

.icon-search {
  background-image: url(../images/search.svg);
  background-size: cover;
  display: inline-block;
  height: 15px;
  width: 15px;
  position: absolute;
  margin-right: 10px;
}
.bordeless-table {
  border-bottom: 0px !important;
}
.borderless-table th,
.borderless-table td {
  border: 1px !important;
}

/* footer */

.footer-partner-logo {
  width: 60px;
  height: 70px;
}
.footer-table > tbody > tr > td,
.footer-table > tfoot > tr > td,
.footer-table > tfoot > tr > th,
.footer-table > thead > tr > th {
  padding: 4px;
}
.shake:hover {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

/* colors */
.cyan-blue {
  color: #015699;
}
.bg-cyan-blue {
  background-color: #015699;
}
.bg-ultra-light {
  background-color: #fafafa;
}
.bg-ghost-white {
  background-color: whitesmoke;
}

/* fonts */
body {
  font-family: "yekan";
}
.font-14 {
  font-size: 14px;
}

/* buttons */

.main-content {
  min-height: 61vh;
}