@charset "UTF-8";
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/iranSans/IRANSansWeb_Bold.eot");
  src: url("../fonts/iranSans/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/iranSans/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/iranSans/IRANSansWeb_Bold.ttf") format("truetype");
}
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranSans/IRANSansWeb_Medium.eot");
  src: url("../fonts/iranSans/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/iranSans/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/iranSans/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/iranSans/IRANSansWeb_Light.eot");
  src: url("../fonts/iranSans/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/iranSans/IRANSansWeb_Light.woff") format("woff"), url("../fonts/iranSans/IRANSansWeb_Light.ttf") format("truetype");
}
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iranSans/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/iranSans/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/iranSans/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/iranSans/IRANSansWeb_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranSans/IRANSansWeb.eot");
  src: url("../fonts/iranSans/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/iranSans/IRANSansWeb.woff2") format("woff2"), url("../fonts/iranSans/IRANSansWeb.woff") format("woff"), url("../fonts/iranSans/IRANSansWeb.ttf") format("truetype");
}
@font-face {
  font-family: "iranSansNumbers";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranSans/IRANSansWeb(FaNum).woff2") format("woff2"), url("../fonts/iranSans/IRANSansWeb(FaNum).woff") format("woff"), url("../fonts/iranSans/IRANSansWeb(FaNum).ttf") format("truetype"), url("../fonts/iranSans/IRANSansWeb(FaNum).eot") format("embedded-opentype");
}
*, h1, h2, h3, h4, h5, h6, p, div, span, a, input, select, button, textarea {
  font-family: iranSans, arial, "Sans-Serif", Serif, Sans;
}
